@import 'bootstrap/scss/bootstrap';

$primary-color: #8093fd;
$primary-color-soft: #b3befe;
$secondary-color : #d0cccc;

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

header {
    background-color: $primary-color;

    ul {
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            transition: all 0.3s ease;
            padding: 2vh 2vw 2vh 2vw;
            font-size: 22px;
        }
    }
}

.itemMenu:hover {
    background-color: white;
}

.indexOption {
    color: black;
    background-color: $secondary-color;
    transition: all 0.25s ease;

    &:hover {
        background-color: white;
        cursor: pointer;
    }
}

.formClass {
    color: black;
    display: block;
    background-color: $primary-color;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

#textoContainer {
    width: 60%;
    height: fit-content;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    margin-left: 20%;
}

.headerContainer {
    display: inline-flex;
    background-color: $primary-color;
    color: white;
    border-radius: 4px 4px 0 0;

    .titulo {
        font-weight: bold;
        margin-right: auto;
        text-align: center;
    }
}

.significado {
    background-color: $primary-color-soft;
    border-radius: 3px;
    position: relative;
    display: grid;
    overflow-y: visible;
}

[title]{
    position: relative;
}

[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $secondary-color;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    z-index: 150;
}

#textoDoc {
    div {
        justify-content: inherit;
        pre {
            display: flex;
            padding: 0;
            overflow-x: hidden;
            text-align: inherit;
            margin: 0;
            justify-content: inherit;
            position: relative;
            overflow: visible;

            span {
                padding: 0;
                width: fit-content;
            }
        }
    }

}


.palavraDesconhecida:hover {
    background-color: $primary-color;
    cursor: pointer;
}

#botoesLeitor {
    display: inline-flex;
    width: 100%;
    display: flex;
    gap: 25%;
    justify-content: center;

    button {
        width: 25%;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $secondary-color;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    justify-self: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#popupPalavra {
    background-color: white;
    position: fixed;
    top: 13vh;
    margin-left: 70%;
    border: 1px solid $secondary-color;
    border-radius: 7px;
    width: 25%;
    padding: 0;
    text-align: center;

    div {
        width: 100%;
        display: block;
        border-radius: 6px 6px 0 0;
    }

}

#containerDocumentos {
    display: inline-flex;
    gap: 3%;
    padding: 2%;
    background-color: $secondary-color;
    width: 100%;
    margin: 0;
    overflow-x: auto;
}

.linkBib {
    text-decoration: none;
    color: black;
}

.containerDocumento {
    background-color: $primary;
    border-radius: 8px;
    min-width: 25%;
    width: 25%;
    padding-bottom: 2.5%;
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.4s ease;

    h1,
    p {
        overflow-x: hidden;
    }
}

.containerDocumento:hover {
    background-color: white;
}

.removeImg {
    width: 5%;
    height: 5%;
}

.rmvBotao {
    width: 22.3%;
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;
}

.containerDocumento:hover .rmvBotao {
    display: block;
}

#idiomas {
    display: inline-flex;
}

#bodyPalavras {

    #exercicios {
        display: flex;
        gap: 3%;
        min-height: 23vh;
        border-radius: 8px;
        padding: 1.5vh;
        background-color: $secondary-color;
        overflow-y: hidden;

        .exercicio {
            background-color: $primary-color;
            border-radius: 5px;
            width: 12vw;
            height: 20vh;
            text-align: center;
            transition: all 0.35s ease-in-out;

            img {
                margin-top: 5px;
                width: 50%;
                height: 70%;
            }
        }

        .exercicio:hover {
            background-color: white;
            cursor: pointer;
        }
    }
}

#formPratica {
    width: 40vw;
    height: 50vh;
    border-radius: 7px;

    button {
        //centralizar melhor
        margin-left: 15.34vw;
    }

}